#email::placeholder{
    color: slateblue;
}
.progress{
    background-color: #fff;
    border:0;
    outline: 0;
    height: 10px;
    
}
.progress::-webkit-progress-value{
    background-color: teal;
    border-radius: 3px;
}
.progress::-webkit-progress-bar{
  background-color: whitesmoke;
  border-radius: 3px;
} /*border-radius 여기 둘 다 써줘야 함.*/

ul {
  list-style: none;
}
ul li {
  background-color: #fff;
  height: 70px;
  padding: 10px;
  border: 0.2px solid #999999;
  display: flex;
  align-items: center;
}
ul li:active {
  background-color: skyblue;
}

.alert {
  padding: 15px;
  border-radius: 5px;
  width: 50%;
  color: springgreen;
  margin: 10px;
}

.green {
  background-color: springgreen;
  color: green;
}

.blue {
  background-color: skyblue;
  color: blue;
}

.yellow {
  background-color: yellow;
  color: goldenrod;
}

.row {
  display: grid;
  background-color: floralwhite;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.col-6,
.col-4,
.col-3,
.col-2,
.col-1 {
  background-color: gold;
  border-radius: 8px;
  padding: 20px;
}

.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}