*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;

}
.grey{
    background-color: #111111;
    height: 300vh;
    width: 100vw;
    margin: 600px 0;
}
.sticky-text{
    font-size: 22px;
    color: #fff;
    float: left;
}
.sticky{
    position: sticky;
    top: 100px;/*스크롤 내렸을 때 Viewport(내 화면)에서 상단 100px 아래 위차*/
    font-size: 50px;
    float: right;/*sticky는 좌표(top, left 등 꼭 써줘야함)*/
}