@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@font-face{
    font-family: "배민체";
    src: url(./BMDOHYEON_ttf.ttf);
    /*파일용량이 좀 큼.*/
    /* 호환성을 위해서는 eot, woff(웹용폰트 용량 가벼움), ttf 전부 첨부*/
}
/* @font-face { 
    font-family: 'NanumSquare'; 
    font-weight: 400; 
    src: url(NanumSquareR.eot); 
    src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'), 
        url(NanumSquareR.woff) format('woff'), 
        url(NanumSquareR.ttf) format('truetype'); 
  } IE 옛 버전에서도 호환성 좋게 폰트를 사용하려면 이렇게 한다.*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "배민체";
    /* font-family: 'Poppins', sans-serif; */
}
a, a:visited{
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}
body{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
}
.table-title{
    color: darkblue;
    margin: 20px;
    font-size: 30px;
    font-weight: 700;
}
.tr-title{
    font-weight: 700;
}
td, th{
    border-bottom: 1px solid silver;
    padding: 15px;
}
th{
    text-align: center; /* th는 text-align: center; 가 기본*/
}
td{
    text-align: center;
    vertical-align: middle; /*자주쓰니 알아둘것*/
    /*inline 글씨나 그림 들의 y축 기준점을 잡고 싶을 때 씀*/
    /*top middle bottom baseline +-20px 등등*/
}
.half-opac{
    color:rgba(0,0,0,.7);
    transform: rotate(0.05deg); /*smoothing tip!*/
}
.bold-text{
    font-weight: 700;
}
td img{
    width: 90px;
    height: 90px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    width: 80%;
}
.btn{ /* 클래스명을 나눠서 확장가능한 component로 만들기 */
    padding: 16px 32px;
    border:0;
    outline: 0;
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
}
.pay-btn{
    background-color: slateblue;
    color: #fff;
    transition: .2s ease-in;
}
.pay-btn:hover{
    background-color: hotpink;
}
.pay-btn:active{
    background-color: deeppink;
}