@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif KR', serif;
}
ul{
    list-style: none;
    display: block;
    background-color: burlywood;
    width: 100%;
    padding: 10px 20px;
}
li{
    display: inline-block;
    margin-right: 20px;
    transition: .2s ease-in-out;
    padding: 3px 8px;
    border-radius: 3px;
}
li:hover{
    background-color: #fff;
    transform: scale(1.1);

}




.container{
    width: 600px;
    height: 200px;
    box-shadow: 1px 2px 10px rgba(0,0,0,.3);
    margin: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
}
.left-content{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.user-component{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.user-component > img{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-component__time{
    margin-top: 3px;
    opacity: .6;
    font-size: 13px;
}
.content-text__title{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}
.content-text__para{
    font-size: 13px;
}
.right-content{
    box-shadow: 1px 2px 10px rgba(0,0,0,.1);
    position: relative;
}
.right-content > img{
    width: 130px;
    height: 130px;
}
.plus-badge{
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    bottom: 0px;
    right: 0;
}