@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif KR', serif;
}
.main-background{
    background-image: url("https://images.unsplash.com/photo-1522163182402-834f871fd851?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=993&q=80");
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    margin-bottom: 200px;
}
.main-text{
    text-align: center;
    color: #fff;
}
.main-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}
.main-btn{
    border: 0;
    outline: 0;
    background-position: #fff;
    color:#000;
    font-size: 17px;
    padding: 5px 10px 7px;
    border-radius: 10px;
    margin-top: 50px;
    transition:.2s ease-in-out;
}
.main-btn:hover{
    background-color: dodgerblue;
    color: #fff;
}
/* .position{
    position: absolute;
    bottom: 250px;
    left:0;
    right:0;
    margin: auto;
    width: 100px;
     중간정렬에 필요한 것 left:0; right:0; margin:auto; width
}  */
.added-goods{
    width: 80%;
    max-width: 600px;
    /*반응형 웹 만들 때 max-width 많이 씀*/
    height: auto;
    padding: 20px 80px;
    background-color: whitesmoke;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom:-160px;
}
.added-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* reset css site 참조 */
/* https://github.com/necolas/normalize.css/blob/master/normalize.css */
.contact{
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    padding: 8px 12px;
    background-color: tomato;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
}
.contact-form-disp{
    display: none;
}
.contact-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 450px;
    border: 1px solid rgba(0,0,0,.5);
    background-color: #fff;
}
input{
    border: 0;
    outline: 0;
    background-color: whitesmoke;
    padding: 8px 10px;
}
#email{
    width:100%;
}
.input-title{
    margin: 8px 0;
    text-align: left;
}
.input-names{
    display: flex;
}
#first-name{
    width: 95%;
    margin-right: 10px;
}
#last-name{
    width: 100%;
}
textarea{
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    padding: 10px;
}
.checkbox span{
    margin-left: 5px;
}
#submit{
    margin-left: auto;
    margin-top: 10px;
    width: 100px;
    background-color: gold;
    border-radius: 10px;
}